.header-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E67FAD;
}
.header-logo {
    grid-column: 1/2;
    width: 300px;
    height: auto;
    padding: 20px;
}
.header-title {
    grid-column: 2/3;
    justify-content: center;
    text-align: center;
}
.btn-logout {
    background-color: #59c0a4;
    height: 30%;
    width: 30%;
    align-self: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-left: 200px;
    
}